* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  min-height: 100%;
}

/* || Background */
#page-bg {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(images/blurry-gradient.svg) no-repeat center center fixed;
  background-size: cover;

  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#page-bg-2 {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(images/blurry-gradient-2.svg) no-repeat center center fixed;
  background-size: cover;

  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-delay: 2s;
  animation-direction: alternate;
}

/* || Header Bar */
#header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

nav img {
  width: 300px;
  animation: movedown 0.5s linear 1;
  animation-delay: 0.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

#nav-links {
  flex: 1;
  text-align: right;
  animation: movedown 0.5s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

#nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

#nav-links ul li a {
  color: #40444b;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: 600;
}

#nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #40444b;
  display: block;
  margin: auto;
  transition: 0.5s;
}

#nav-links ul li:hover::after {
  width: 100%;
}

#nav-icons {
  display: none;
}

/* || Title */
#title {
  width: 90%;
  color: #40444b;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#title h1 {
  font-size: 5.5vw;
  animation: moveup 0.5s linear 1;
  animation-delay: 1.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

#title p {
  margin: 10px 0 40px;
  font-size: 2vw;
  color: #40444b;
  animation: moveup 0.5s linear 1;
  animation-delay: 1.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

/* || Menu */
#menu {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -80px;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: moveup 0.5s linear 1;
  animation-delay: 1.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
  z-index: 2;
}

#menu ul {
  position: relative;
  transform: skewY(-15deg);
}

#menu ul li {
  position: relative;
  list-style: none;
  width: 200px;
  height: 6vh;
  background: #40444b;
  z-index: var(--i);
  transition: 0.5s;
}

#menu ul li:hover::before {
  background: #a8a8a8;
}

#menu ul li:hover::after {
  background: #bdbdbd;
}

#menu ul li:hover {
  background: #d0d0d0;
  transform: translateX(-50px);
}

#menu ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #40444b;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

#menu ul li::after {
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #40444b;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

#menu ul li a {
  text-decoration: none;
  color: #d0d0d0;
  display: block;
  line-height: 6vh;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

#menu ul li:hover a {
  color: #40444b;
}

#menu ul li:last-child::after {
  box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}

/* || Glass */
.about,
.stats,
.perks,
.apply {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 70vh;
  min-width: 50%;
  max-height: 90vh;
  max-width: 90vw;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  text-align: center;
  padding: 0 30px 30px;
  visibility: hidden;
}

.glass-title {
  border-radius: 10px;
  border-bottom: solid 10px rgba(255, 255, 255, 0.8);
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: max-content;
  padding-bottom: 0.5rem;
  margin: 0 0 0 0;
}

.glass h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

.glass p {
  text-align: center;
  text-align: justify;
  color: black;
  font-size: 20px;
}

.glass img {
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  width: 50vw;
  max-width: 800px;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  z-index: 2;
}

/* Stats */
#stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.stats-wrapper {
  display: flex;
  height: 10vh;
  min-height: 85px;
  align-items: center;
  margin: 10px 3px;
  padding: 10px 10px 8px 10px;
  border-radius: 10px;
  font-size: .9em;
  width: 20vw;
  min-width: 200px;
  max-width: 250px;
  background: linear-gradient(to right, #F3F9A7, #fdde35);
}

.stats-label {
  text-align: center;
  display: inline-block;
  padding: 1px 0.2em;
  border: 1px solid transparent;
  vertical-align: middle;
  border-radius: 10px;
  font-size: 80%;
  line-height: 1.26;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}

.stats-wrapper img {
  height: 8vh;
  width: auto;
  margin: 0px;
  padding: 0px;
}

/* Perks */
#perks-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.perks-wrapper img {
  display: inline-block;
  width: auto;
  height: 12vw;
  margin: 20px 10px;
  padding: 0px 0px 0px 0px;
}

.perks ul {
  text-align: center;
  list-style: none;
  line-height: 2.3rem;
}

.perks ul li::before {
  content: "\2022";
  color: #40444b;
  font-weight: 1000;
  display: inline-block; 
  width: 1.5em;
  margin-left: -1em;
}

/* Apply */
.apply ol {
  text-align: center;
  list-style-position: inside;
  line-height: 2.3rem;
}

#apply-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.apply-wrapper img {
  display: inline-block;
  width: auto;
  height: 12vw;
  margin: 20px 10px;
  padding: 0px 0px 0px 0px;
}

.openPopup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.4s, top 0.4s;
}

.openBlocker {
  visibility: visible;
}

.closePopup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(0.01);
  transition: transform 0.5s, top 0.5s;
  animation-fill-mode: forwards;
}

.closeBlocker {
  visibility: hidden;
}

/* || Footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #40444b;
  text-align: center;
  height: 30px;
  animation: moveup 0.5s linear 1;
  animation-delay: 1.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

#footer h4 {
  margin-bottom: 50px;
  font-weight: 400;
}

#footer a {
  color: #40444b;
}

#footer a:hover {
  color: #06e;
}

/* || Mobile */
@media(max-width: 1000px) {
  nav img {
    width: 50vw;
    animation: movedown 0.5s linear 1;
    animation-delay: 0.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  #nav-links {
    display: none;
  }
  
  #nav-icons {
    display: inline-block;
    text-align: right;
    animation: movedown 0.5s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  #nav-icons ul li {
    list-style: none;
    padding: 0 1vw;
    display: inline-block;
    position: relative;
  }

  #nav-icons ul li a {
    color: #40444b;
    font-size: 200%;
  }

  #title {
    width: 90%;
    color: #40444b;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #title h1 {
    font-size: 8vw;
    animation: moveup 0.5s linear 1;
    animation-delay: 1.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  
  #title p {
    margin: 10px 0 40px;
    font-size: 6vw;
    color: #40444b;
    animation: moveup 0.5s linear 1;
    animation-delay: 1.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
}

/* || Animations */
@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }

  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

@keyframes moveup {
  0% {
    transform: translateY(300px);
    visibility: visible;
  }

  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }

  20% {
    opacity: 0.1;
    visibility: visible;
  }

  100% {
    opacity: 0.7;
    visibility: visible;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.2;
  }
}